.cover {
    background-color: rgb(52,58,64);
    text-align: center;
    height: 89%;
    width: 95%;
    color: white;

    
}

.song {
    text-align: center;
    height: 650px;
    width: 100%;

}

.title {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 30px;
}

img {
    margin-bottom: 10px;
}

img:hover {
    transform: scale(1.5);
}

.audio__player {
    position: relative;
    top: 30px;
}