.main__container {
    z-index: 5;
}


.add__song__btn {
    position: relative;
    top: 55px;
    left: 15px;
    
}

.search__bar {
    position: relative;
    bottom: 3.5vh;
}

.header__row {
    text-align: center;
}

.table__body {
    text-align: center;
}
