.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main__content {
  position: relative;
  z-index: 5;
}

.animation__area {
  z-index: -1;
  width: 100%;
  height: 100%;
}

.box__area {
  z-index: -1;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.box__area li {
  position: absolute;
  bottom: -150px;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation-name: float;
  -webkit-animation-duration: 20s;
  -webkit-animation-timing-function: liner;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: float;
  -moz-animation-duration: 20s;
  -moz-animation-timing-function: liner;
  -moz-animation-iteration-count: infinite;
  animation: float 20s linear infinite;
}

.box__area li:nth-child(1){
  left: 86%;
  width: 80px;
  height: 130px;
  animation-delay: 0s;
  animation-duration: 40s;
}
.box__area li:nth-child(2){
  left: 12%;
  width: 50px;
  height: 50px;
  animation-delay: 1.5s;
  animation-duration: 22s;
}
.box__area li:nth-child(3){
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
  animation-duration: 18s;
}
.box__area li:nth-child(4){
  left: 30%;
  width: 120px;
  height: 150px;
  animation-duration: 17s;
}
.box__area li:nth-child(5){
  left: 65%;
  width: 75px;
  height: 75px;
  animation-delay: 5s;
  animation-duration: 40s;
}
.box__area li:nth-child(6){
  left: 50%;
  width: 90px;
  height: 90px;
  animation-delay: 3s;
  animation-duration: 25s;
}
.box__area li:nth-child(7){
  left: 6%;
  width: 90px;
  height: 90px;
  animation-delay: 7s;
  animation-duration: 30s;

}
.box__area li:nth-child(8){
  left: 20%;
  width: 90px;
  height: 90px;
  animation-delay: 2s;
  animation-duration: 20s;
}

@keyframes float{
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: .4;
  }
  100%{
    transform: translateY(-115vh) rotate(360deg);
    opacity: 1;
  }
}

